# Chapter 2 - Data Preparation Basics
## Segment 5 - Grouping and data aggregation

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [13]:
address = '/Users/sometheasiek/Documents/PsychPress/Ex_Files_Python_Data_Science_EssT_Pt_1/Exercise Files/Data/mtcars.csv'
cars = pd.read_csv(address)
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [17]:
cars_groups = cars.groupby(cars['cyl'])
cars_groups.mean()

,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,
4,26.663636,105.136364,82.636364,4.070909,2.285727,19.137273,0.909091,0.727273,4.090909,1.545455
6,19.742857,183.314286,122.285714,3.585714,3.117143,17.977143,0.571429,0.428571,3.857143,3.428571
8,15.100000,353.100000,209.214286,3.229286,3.999214,16.772143,0.000000,0.142857,3.285714,3.500000

In [18]:
cars_groups = cars.groupby(cars['car_names'])
cars_groups.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_names,,,,,,,,,,,
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [21]:
cars_groups = cars.groupby(cars['hp'])
cars_groups.mean()

,mpg,cyl,disp,drat,wt,qsec,vs,am,gear,carb
hp,,,,,,,,,,
52,30.400000,4.000000,75.700000,4.930000,1.615000,18.520000,1.000000,1.000000,4.000000,2.000000
62,24.400000,4.000000,146.700000,3.690000,3.190000,20.000000,1.000000,0.000000,4.000000,2.000000
65,33.900000,4.000000,71.100000,4.220000,1.835000,19.900000,1.000000,1.000000,4.000000,1.000000
66,29.850000,4.000000,78.850000,4.080000,2.067500,19.185000,1.000000,1.000000,4.000000,1.000000
91,26.000000,4.000000,120.300000,4.430000,2.140000,16.700000,0.000000,1.000000,5.000000,2.000000
93,22.800000,4.000000,108.000000,3.850000,2.320000,18.610000,1.000000,1.000000,4.000000,1.000000
95,22.800000,4.000000,140.800000,3.920000,3.150000,22.900000,1.000000,0.000000,4.000000,2.000000
97,21.500000,4.000000,120.100000,3.700000,2.465000,20.010000,1.000000,0.000000,3.000000,1.000000
105,18.100000,6.000000,225.000000,2.760000,3.460000,20.220000,1.000000,0.000000,3.000000,1.000000
109,21.400000,4.000000,121.000000,4.110000,2.780000,18.600000,1.000000,1.000000,4.000000,2.000000
110,21.133333,6.000000,192.666667,3.626667,2.903333,17.640000,0.333333,0.666667,3.666667,3.000000
113,30.400000,4.000000,95.100000,3.770000,1.513000,16.900000,1.000000,1.000000,5.000000,2.000000
123,18.500000,6.000000,167.600000,3.920000,3.440000,18.600000,1.000000,0.000000,4.000000,4.000000
150,15.350000,8.000000,311.000000,2.955000,3.477500,17.085000,0.000000,0.000000,3.000000,2.000000
175,19.200000,7.333333,301.666667,3.283333,3.351667,16.523333,0.000000,0.333333,3.666667,3.333333
180,16.300000,8.000000,275.800000,3.070000,3.860000,17.666667,0.000000,0.000000,3.000000,3.000000
205,10.400000,8.000000,472.000000,2.930000,5.250000,17.980000,0.000000,0.000000,3.000000,4.000000
215,10.400000,8.000000,460.000000,3.000000,5.424000,17.820000,0.000000,0.000000,3.000000,4.000000
230,14.700000,8.000000,440.000000,3.230000,5.345000,17.420000,0.000000,0.000000,3.000000,4.000000
245,13.800000,8.000000,355.000000,3.470000,3.705000,15.625000,0.000000,0.000000,3.000000,4.000000
264,15.800000,8.000000,351.000000,4.220000,3.170000,14.500000,0.000000,1.000000,5.000000,4.000000
335,15.000000,8.000000,301.000000,3.540000,3.570000,14.600000,0.000000,1.000000,5.000000,8.000000