# Chapter 5 - Basic Math and Statistics
## Segment 4 - Summarizing categorical data using pandas

In [3]:
import numpy as np
import pandas as pd

### The basics

In [9]:
address = 'Data/mtcars.csv'
cars = pd.read_csv(address)
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.index = cars.car_names
cars

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_names,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [14]:
carb = cars.carb
carb.value_counts()

4    10
2    10
1     7
3     3
8     1
6     1
Name: carb, dtype: int64

In [25]:
cars_cat = cars[['cyl', 'vs', 'am', 'gear', 'carb']]
cars_cat.head()

                   cyl  vs  am  gear  carb
car_names
Mazda RX4            6   0   1     4     4
Mazda RX4 Wag        6   0   1     4     4
Datsun 710           4   1   1     4     1
Hornet 4 Drive       6   1   0     3     1
Hornet Sportabout    8   0   0     3     2

In [24]:
gears_group = cars_cat.groupby('gear')
gears_group.head()

                   cyl  vs  am  gear  carb
car_names
Mazda RX4            6   0   1     4     4
Mazda RX4 Wag        6   0   1     4     4
Datsun 710           4   1   1     4     1
Hornet 4 Drive       6   1   0     3     1
Hornet Sportabout    8   0   0     3     2
Valiant              6   1   0     3     1
Duster 360           8   0   0     3     4
Merc 240D            4   1   0     4     2
Merc 230             4   1   0     4     2
Merc 450SE           8   0   0     3     3
Porsche 914-2        4   0   1     5     2
Lotus Europa         4   1   1     5     2
Ford Pantera L       8   0   1     5     4
Ferrari Dino         6   0   1     5     6
Maserati Bora        8   0   1     5     8

In [23]:
gears_group.describe()

       cyl                                                 vs            ...  \
     count      mean       std  min  25%  50%  75%  max count      mean  ...
gear                                                                     ...
3     15.0  7.466667  1.187234  4.0  8.0  8.0  8.0  8.0  15.0  0.200000  ...
4     12.0  4.666667  0.984732  4.0  4.0  4.0  6.0  6.0  12.0  0.833333  ...
5      5.0  6.000000  2.000000  4.0  4.0  6.0  8.0  8.0   5.0  0.200000  ...

       am       carb
      75%  max count      mean       std  min  25%  50%  75%  max
gear
3     0.0  0.0  15.0  2.666667  1.175139  1.0  2.0  3.0  4.0  4.0
4     1.0  1.0  12.0  2.333333  1.302678  1.0  1.0  2.0  4.0  4.0
5     1.0  1.0   5.0  4.400000  2.607681  2.0  2.0  4.0  6.0  8.0

[3 rows x 32 columns]

### Transforming variables to categorical data type

In [29]:
cars['gear_group'] = pd.Series(cars.gear, dtype='category')
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,gear_group
car_names,,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,4
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,3

In [37]:
cars['gear_group'].dtypes

CategoricalDtype(categories=[3, 4, 5], ordered=False)

In [40]:
cars['gear_group'].value_counts()

3    15
4    12
5     5
Name: gear_group, dtype: int64

### Describing categorical data with crosstabs

In [43]:
pd.crosstab(cars['am'], cars['gear'])

gear   3  4  5
am
0     15  4  0
1      0  8  5

In [44]:
pd.crosstab(cars['mpg'], cars['hp'])

hp,52,62,65,66,91,93,95,97,105,109,...,123,150,175,180,205,215,230,245,264,335
mpg,,,,,,,,,,,,,,,,,,,,,
10.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
13.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
14.7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
15.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15.2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
15.5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
15.8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16.4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
17.8,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
18.1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18.7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19.2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
19.7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21.4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21.5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22.8,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24.4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26.0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27.3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30.4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32.4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33.9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0